services:
  backend:
    ports:
      - "5000:5000"
    environment:
      - ENV=production

  frontend:
    ports:
      - "3000:80"
    environment:
      - ENV=production

  nginx:
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/ssl:/etc/nginx/ssl
